In [1]:
import time

import pandas as pd
import requests

In [2]:
url = "http://localhost:8080/serve/logreg"

In [15]:
df = pd.read_csv("/home/dev/data.csv", index_col=0)

/tmp/ipykernel_1265553/995795906.py:1: DtypeWarning: Columns (69,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/dev/data.csv", index_col=0)

In [16]:
df = df[['app_date', 'birthdate', 'gender', 'Score', 'not_app', 'typeemployerid', 'total_app', 'Goods_type', 'reject_app', 'request_amount', 'NBKI_RetailScore', 'income', 'nameTO', 'SiteName', '60_6mob']]

In [17]:
df

,app_date,birthdate,gender,Score,not_app,typeemployerid,total_app,Goods_type,reject_app,request_amount,NBKI_RetailScore,income,nameTO,SiteName,60_6mob
0,2022-11-12,1989-12-28,Ìóæ÷èíà,0.57610,1,5,1,4.0,0,100000.0,301.0,120000.0,ИП Фадеев Антон Юрьевич,RBT Крым,0.0
1,2022-11-13,1983-05-24,Æåíùèíà,0.62832,1,5,1,4.0,0,100000.0,744.0,40000.0,ИП Фадеев Антон Юрьевич,RBT Крым,0.0
2,2022-11-15,2001-10-01,Ìóæ÷èíà,0.76177,1,5,1,2.0,0,100000.0,NaN,30000.0,ИП Антюхов Сергей Владимирович,Волна Крым,0.0
3,2022-11-13,1964-11-12,Æåíùèíà,NaN,1,5,1,4.0,0,50000.0,565.0,34000.0,ИП Фадеев Антон Юрьевич,RBT Крым,0.0
4,2022-11-13,1999-01-25,Ìóæ÷èíà,0.58662,1,5,1,4.0,0,30000.0,387.0,30000.0,ООО Парк Групп Севастополь,ПАРК КРЫМ,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34113,2023-09-11,1983-06-12,Ìóæ÷èíà,0.50843,1,5,3,4.0,2,50000.0,108.0,50000.0,ООО Парк Групп,ПАРК КРЫМ,0.0
34114,2022-11-11,1990-02-21,Æåíùèíà,0.72078,1,5,1,4.0,0,30000.0,778.0,40000.0,ООО Парк Групп,ПАРК КРЫМ,0.0
34115,2022-11-12,1990-04-14,Æåíùèíà,0.71614,1,5,1,4.0,0,150000.0,814.0,40000.0,ИП Фадеев Антон Юрьевич,RBT Крым,0.0
34116,2022-11-12,1982-01-19,Ìóæ÷èíà,0.49351,1,5,1,4.0,0,50000.0,222.0,40000.0,ИП Фадеев Антон Юрьевич,RBT Крым,0.0
34117,2022-11-12,1984-04-15,Æåíùèíà,0.78348,1,5,1,4.0,0,150000.0,366.0,40000.0,ИП Фадеев Антон Юрьевич,RBT Крым,0.0

In [18]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 34118 entries, 0 to 34117
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   app_date          34118 non-null  object
 1   birthdate         34118 non-null  object
 2   gender            34118 non-null  object
 3   Score             17973 non-null  float64
 4   not_app           34118 non-null  int64
 5   typeemployerid    34118 non-null  int64
 6   total_app         34118 non-null  int64
 7   Goods_type        34116 non-null  float64
 8   reject_app        34118 non-null  int64
 9   request_amount    34118 non-null  float64
 10  NBKI_RetailScore  8861 non-null   float64
 11  income            34015 non-null  float64
 12  nameTO            34118 non-null  object
 13  SiteName          34118 non-null  object
 14  60_6mob           33321 non-null  float64
dtypes: float64(6), int64(4), object(5)
memory usage: 4.2+ MB

In [19]:
while True:
    for index, row in df.iterrows():
        # Process each row to convert timestamps to strings and replace NaNs
        row_json = (
            row.apply(lambda x: x.isoformat() if isinstance(x, pd.Timestamp) else x)
            .where(pd.notnull(row), None)
            .to_dict()
        )
       # print(pd.DataFrame([row_json]))

        # Send the processed row as part of the payload
        payload = {
            "row": row_json,
        }
        response = requests.post(url, json=payload)
        time.sleep(0.3)

        print(response.text, row["60_6mob"])

{"Probability":0.5025865573077292,"Result":0,"Threshold":0.7241093510499693,"Errors":[]} 0.0
{"Probability":0.12608653196090136,"Result":0,"Threshold":0.7241093510499693,"Errors":[]} 0.0
{"Probability":0.38975743458694895,"Result":0,"Threshold":0.7241093510499693,"Errors":[]} 0.0
{"Probability":0.2205016596709296,"Result":0,"Threshold":0.7241093510499693,"Errors":[]} 0.0
{"Probability":0.42129003465595855,"Result":0,"Threshold":0.7241093510499693,"Errors":[]} 0.0
{"Probability":0.264566152847729,"Result":0,"Threshold":0.7241093510499693,"Errors":[]} 0.0

KeyboardInterrupt: